openapi: 3.0.1
info:
  title: Control API v1
  description: "Use the Control API to manage your applications, namespaces, keys,\
    \ queues, rules, and more.\n\nDetailed information on using this API can be found\
    \ in the Ably <a href=\"https://ably.com/documentation/control-api\">Control API\
    \ documentation</a>.\n\nControl API is currently in Beta.\n"
  version: 1.0.18
servers:
- url: https://control.ably.net/v1
paths:
  /accounts/{account_id}/apps:
    get:
      tags:
      - apps
      summary: Lists account apps
      description: List all Ably applications for the specified account ID.
      parameters:
      - name: account_id
        in: path
        description: The account ID for which to retrieve the associated applications.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: List of apps for the specified account are returned
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/app_response'
                x-content-type: application/json
        "401":
          description: Authentication failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        "404":
          description: Account not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
      - bearer_auth: []
    post:
      tags:
      - apps
      summary: Creates an app
      description: Creates an application with the specified properties.
      parameters:
      - name: account_id
        in: path
        description: The account ID of the account in which to create the application.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/app_post'
      responses:
        "201":
          description: App created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/app_response'
        "400":
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        "401":
          description: Authentication failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        "404":
          description: Account not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        "422":
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
      - bearer_auth: []
  /apps/{id}:
    delete:
      tags:
      - apps
      summary: Deletes an app
      description: Deletes the application with the specified application ID.
      parameters:
      - name: id
        in: path
        description: The ID of the application to be deleted.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "204":
          description: App deleted
          content: {}
        "401":
          description: Authentication failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        "404":
          description: App not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        "422":
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
      - bearer_auth: []
    patch:
      tags:
      - apps
      summary: Updates an app
      description: Updates the application with the specified application ID.
      parameters:
      - name: id
        in: path
        description: The ID of application to be updated.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/app_patch'
      responses:
        "200":
          description: App updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/app_response'
        "400":
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        "401":
          description: Authentication failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        "404":
          description: App not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        "422":
          description: Invalid resource
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
      - bearer_auth: []
  /apps/{id}/pkcs12:
    post:
      tags:
      - apps
      summary: Updates app's APNs info from a `.p12` file
      description: Updates the application's Apple Push Notification service (APNs)
        information.
      parameters:
      - name: id
        in: path
        description: The application ID.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/app_pkcs12'
      responses:
        "200":
          description: App updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/app_response'
        "400":
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        "401":
          description: Authentication failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        "404":
          description: App not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
      - bearer_auth: []
  /apps/{app_id}/keys:
    get:
      tags:
      - keys
      summary: Lists app keys
      description: Lists the API keys associated with the application ID.
      parameters:
      - name: app_id
        in: path
        description: The application ID.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: Key list
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/key_response'
                x-content-type: application/json
        "401":
          description: Authentication failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        "404":
          description: App not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        "504":
          description: Gateway timeout
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
      - bearer_auth: []
    post:
      tags:
      - keys
      summary: Creates a key
      description: Creates an API key for the application specified.
      parameters:
      - name: app_id
        in: path
        description: The application ID.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/key_post'
      responses:
        "201":
          description: Key created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/key_response'
        "400":
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        "401":
          description: Authentication failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        "404":
          description: App not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        "422":
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
      - bearer_auth: []
  /apps/{app_id}/keys/{key_id}:
    patch:
      tags:
      - keys
      summary: Updates a key
      description: "Update the API key with the specified key ID, for the application\
        \ with the specified application ID."
      parameters:
      - name: app_id
        in: path
        description: The application ID.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: key_id
        in: path
        description: The API key ID.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/key_patch'
      responses:
        "200":
          description: Key updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/key_response'
        "400":
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        "401":
          description: Authentication failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        "404":
          description: App not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        "422":
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        "504":
          description: Gateway timeout
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
      - bearer_auth: []
  /apps/{app_id}/keys/{key_id}/revoke:
    post:
      tags:
      - keys
      summary: Revokes a key
      description: "Revokes the API key with the specified ID, with the Application\
        \ ID. This deletes the key."
      parameters:
      - name: app_id
        in: path
        description: The application ID.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: key_id
        in: path
        description: The key ID.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: Key revoked
          content: {}
        "401":
          description: Authentication failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        "404":
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        "504":
          description: Gateway timeout
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
      - bearer_auth: []
  /apps/{app_id}/namespaces:
    get:
      tags:
      - namespaces
      summary: Lists namespaces
      description: List the <a href="https://ably.com/documentation/general/channel-rules-namespaces">namespaces</a>
        for the specified application ID.
      parameters:
      - name: app_id
        in: path
        description: The application ID.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: Namespace list
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/namespace_response'
                x-content-type: application/json
        "401":
          description: Authentication failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        "404":
          description: App not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        "504":
          description: Gateway timeout
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
      - bearer_auth: []
    post:
      tags:
      - namespaces
      summary: Creates a namespace
      description: Creates a <a href="https://ably.com/documentation/general/channel-rules-namespaces">namespace</a>
        for the specified application ID.
      parameters:
      - name: app_id
        in: path
        description: The application ID.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/namespace_post'
      responses:
        "201":
          description: Namespace created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/namespace_response'
        "400":
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        "401":
          description: Authentication failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        "404":
          description: App not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        "422":
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
      - bearer_auth: []
  /apps/{app_id}/namespaces/{namespace_id}:
    delete:
      tags:
      - namespaces
      summary: Deletes a namespace
      description: "Deletes the <a href=\"https://ably.com/documentation/general/channel-rules-namespaces\"\
        >namespace</a> with the specified ID, for the specified application ID."
      parameters:
      - name: app_id
        in: path
        description: The application ID.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: namespace_id
        in: path
        description: The namespace ID.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "204":
          description: Namespace deleted
          content: {}
        "401":
          description: Authentication failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        "404":
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        "504":
          description: Gateway timeout
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
      - bearer_auth: []
    patch:
      tags:
      - namespaces
      summary: Updates a namespace
      description: "Updates the <a href=\"https://ably.com/documentation/general/channel-rules-namespaces\"\
        >namespace</a> with the specified ID, for the application with the specified\
        \ application ID."
      parameters:
      - name: app_id
        in: path
        description: The application ID.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: namespace_id
        in: path
        description: The namespace ID.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/namespace_patch'
      responses:
        "200":
          description: Namespace updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/namespace_response'
        "400":
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        "401":
          description: Authentication failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        "404":
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        "504":
          description: Gateway timeout
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
      - bearer_auth: []
  /apps/{app_id}/queues:
    get:
      tags:
      - queues
      summary: Lists queues
      description: Lists the <a href="https://ably.com/documentation/general/queues">queues</a>
        associated with the specified application ID.
      parameters:
      - name: app_id
        in: path
        description: The application ID.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: Queue list
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/queue_response'
                x-content-type: application/json
        "401":
          description: Authentication failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        "404":
          description: App not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        "503":
          description: 503 Service unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        "504":
          description: Gateway timeout
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
      - bearer_auth: []
    post:
      tags:
      - queues
      summary: Creates a queue
      description: Creates a <a href="https://ably.com/documentation/general/queues">queue</a>
        for the application specified by application ID. The properties for the queue
        to be created are specified in the request body.
      parameters:
      - name: app_id
        in: path
        description: The application ID.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/queue'
      responses:
        "201":
          description: Queue created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/queue_response'
        "400":
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        "401":
          description: Authentication failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        "404":
          description: App not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        "422":
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
      - bearer_auth: []
  /apps/{app_id}/queues/{queue_id}:
    delete:
      tags:
      - queues
      summary: Deletes a queue
      description: "Delete the <a href=\"https://ably.com/documentation/general/queues\"\
        >queue</a> with the specified queue name, from the application with the specified\
        \ application ID."
      parameters:
      - name: app_id
        in: path
        description: The application ID.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: queue_id
        in: path
        description: The queue ID.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "204":
          description: Queue deleted
          content: {}
        "400":
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        "401":
          description: Authentication failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        "404":
          description: App not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        "503":
          description: 503 Service unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
      - bearer_auth: []
  /apps/{app_id}/rules:
    get:
      tags:
      - rules
      summary: Lists Reactor rules
      description: Lists the <a href="https://ably.com/documentation/general/events">rules</a>
        for the application specified by the application ID.
      parameters:
      - name: app_id
        in: path
        description: The application ID.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: Reactor rule list
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/rule_response'
                x-content-type: application/json
        "401":
          description: Authentication failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        "404":
          description: App not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        "504":
          description: Gateway timeout
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
      - bearer_auth: []
    post:
      tags:
      - rules
      summary: Creates a Reactor rule
      description: Creates a <a href="https://ably.com/documentation/general/events">rule</a>
        for the application with the specified application ID.
      parameters:
      - name: app_id
        in: path
        description: The application ID.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        description: The rule properties.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/rule_post'
      responses:
        "201":
          description: Reactor rule created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rule_response'
        "400":
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        "401":
          description: Authentication failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        "404":
          description: App not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        "422":
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        "504":
          description: Gateway timeout
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
      - bearer_auth: []
  /apps/{app_id}/rules/{rule_id}:
    get:
      tags:
      - rules
      summary: Gets a reactor rule by rule ID
      description: "Returns the <a href=\"https://ably.com/documentation/general/events\"\
        >rule</a> specified by the rule ID, for the application specified by application\
        \ ID."
      parameters:
      - name: app_id
        in: path
        description: The application ID.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: rule_id
        in: path
        description: The rule ID.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: Reactor rule
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rule_response'
        "401":
          description: Authentication failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        "404":
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        "504":
          description: Gateway timeout
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
      - bearer_auth: []
    delete:
      tags:
      - rules
      summary: Deletes a Reactor rule
      description: "Deletes the <a href=\"https://ably.com/documentation/general/events\"\
        >rule</a> specified by the rule ID, for the application specified by application\
        \ ID."
      parameters:
      - name: app_id
        in: path
        description: The application ID.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: rule_id
        in: path
        description: The rule ID.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "204":
          description: Reactor rule deleted
          content: {}
        "401":
          description: Authentication failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        "404":
          description: App not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        "504":
          description: Gateway timeout
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
      - bearer_auth: []
    patch:
      tags:
      - rules
      summary: Updates a Reactor rule
      description: "Updates the <a href=\"https://ably.com/documentation/general/events\"\
        >rule</a> specified by the rule ID, for the application specified by application\
        \ ID."
      parameters:
      - name: app_id
        in: path
        description: The application ID.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: rule_id
        in: path
        description: The rule ID.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        description: Properties for the rule.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/rule_patch'
      responses:
        "200":
          description: Reactor rule updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rule_response'
        "400":
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        "401":
          description: Authentication failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        "404":
          description: App not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        "422":
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        "504":
          description: Gateway timeout
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
      - bearer_auth: []
  /me:
    get:
      tags:
      - tokens
      summary: Get token details
      description: Retrieve information about the <a href="https://ably.com/documentation/control-api#authentication">token</a>
        the current user authenticates with.
      responses:
        "200":
          description: Token details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/me'
        "401":
          description: Authentication failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
      - bearer_auth: []
components:
  schemas:
    rule_source:
      required:
      - channelFilter
      - type
      type: object
      properties:
        channelFilter:
          type: string
          description: This field allows you to filter your rule based on a regular
            expression that is matched against the complete channel name. Leave this
            empty if you want the rule to apply to all channels.
          example: ^my-channel.*
        type:
          type: string
          description: "The type `channel.message` delivers all messages published\
            \ on a channel. The type `channel.presence` delivers all enter, update\
            \ and leave events for members present on a channel. The type `channel.lifecycle`\
            \ events for this rule type are currently not supported. Get in touch\
            \ (https://ably.com/contact) if you need this feature. The type `channel.occupancy`\
            \ delivers all occupancy events for the channel."
          example: channel.message
      additionalProperties: false
    rule_source_patch:
      type: object
      properties:
        channelFilter:
          type: string
          description: This field allows you to filter your rule based on a regular
            expression that is matched against the complete channel name. Leave this
            empty if you want the rule to apply to all channels.
          example: ^my-channel.*
        type:
          type: string
          description: "The type `channel.message` delivers all messages published\
            \ on a channel. The type `channel.presence` delivers all enter, update\
            \ and leave events for members present on a channel. The type `channel.lifecycle`\
            \ events for this rule type are currently not supported. Get in touch\
            \ (https://ably.com/contact) if you need this feature. The type `channel.occupancy`\
            \ delivers all occupancy events for the channel."
          example: channel.message
      additionalProperties: false
    rule_attributes:
      type: object
      properties:
        id:
          type: string
          description: The rule ID.
          example: 83IzAB
        appId:
          type: string
          description: The Ably application ID.
          example: 28GY6a
        version:
          type: string
          description: API version. Events and the format of their payloads are versioned.
            Please see the <a href="https://ably.com/documentation/general/events">Events
            documentation</a>.
          example: "1.2"
        status:
          type: string
          description: The status of the rule. Rules can be enabled or disabled.
          example: enabled
        created:
          type: number
          description: Unix timestamp representing the date and time of creation of
            the rule.
          example: 1602844091815
        modified:
          type: number
          description: Unix timestamp representing the date and time of last modification
            of the rule.
          example: 1614679682091
      additionalProperties: false
    rule_post:
      discriminator:
        propertyName: RuleType
        mapping:
          http: '#/components/schemas/http_rule_post'
          http/ifttt: '#/components/schemas/ifttt_rule_post'
          http/zapier: '#/components/schemas/zapier_rule_post'
          http/cloudflare-worker: '#/components/schemas/cloudflare_worker_rule_post'
          http/azure-function: '#/components/schemas/azure_function_rule_post'
          http/google-cloud-function: '#/components/schemas/google_cloud_function_rule_post'
          aws/lambda: '#/components/schemas/aws_lambda_rule_post'
          aws/kinesis: '#/components/schemas/aws_kinesis_rule_post'
          aws/sqs: '#/components/schemas/aws_sqs_rule_post'
          amqp: '#/components/schemas/amqp_rule_post'
          amqp/external: '#/components/schemas/amqp_external_rule_post'
      oneOf:
      - $ref: '#/components/schemas/http_rule_post'
      - $ref: '#/components/schemas/ifttt_rule_post'
      - $ref: '#/components/schemas/zapier_rule_post'
      - $ref: '#/components/schemas/cloudflare_worker_rule_post'
      - $ref: '#/components/schemas/azure_function_rule_post'
      - $ref: '#/components/schemas/google_cloud_function_rule_post'
      - $ref: '#/components/schemas/aws_lambda_rule_post'
      - $ref: '#/components/schemas/aws_kinesis_rule_post'
      - $ref: '#/components/schemas/aws_sqs_rule_post'
      - $ref: '#/components/schemas/amqp_rule_post'
      - $ref: '#/components/schemas/amqp_external_rule_post'
    rule_patch:
      discriminator:
        propertyName: RuleType
        mapping:
          http: '#/components/schemas/http_rule_patch'
          http/ifttt: '#/components/schemas/ifttt_rule_patch'
          http/zapier: '#/components/schemas/zapier_rule_patch'
          http/cloudflare-worker: '#/components/schemas/cloudflare_worker_rule_patch'
          http/azure-function: '#/components/schemas/azure_function_rule_patch'
          http/google-cloud-function: '#/components/schemas/google_cloud_function_rule_patch'
          aws/lambda: '#/components/schemas/aws_lambda_rule_patch'
          aws/kinesis: '#/components/schemas/aws_kinesis_rule_patch'
          aws/sqs: '#/components/schemas/aws_sqs_rule_patch'
          amqp: '#/components/schemas/amqp_rule_patch'
          amqp/external: '#/components/schemas/amqp_external_rule_patch'
      oneOf:
      - $ref: '#/components/schemas/http_rule_patch'
      - $ref: '#/components/schemas/ifttt_rule_patch'
      - $ref: '#/components/schemas/zapier_rule_patch'
      - $ref: '#/components/schemas/cloudflare_worker_rule_patch'
      - $ref: '#/components/schemas/azure_function_rule_patch'
      - $ref: '#/components/schemas/google_cloud_function_rule_patch'
      - $ref: '#/components/schemas/aws_lambda_rule_patch'
      - $ref: '#/components/schemas/aws_kinesis_rule_patch'
      - $ref: '#/components/schemas/aws_sqs_rule_patch'
      - $ref: '#/components/schemas/amqp_rule_patch'
      - $ref: '#/components/schemas/amqp_external_rule_patch'
    rule_response:
      discriminator:
        propertyName: RuleType
        mapping:
          http: '#/components/schemas/http_rule_response'
          http/ifttt: '#/components/schemas/ifttt_rule_response'
          http/zapier: '#/components/schemas/zapier_rule_response'
          http/cloudflare-worker: '#/components/schemas/cloudflare_worker_rule_response'
          http/azure-function: '#/components/schemas/azure_function_rule_response'
          http/google-cloud-function: '#/components/schemas/google_cloud_function_rule_response'
          aws/lambda: '#/components/schemas/aws_lambda_rule_response'
          aws/kinesis: '#/components/schemas/aws_kinesis_rule_response'
          aws/sqs: '#/components/schemas/aws_sqs_rule_response'
          amqp: '#/components/schemas/amqp_rule_response'
          amqp/external: '#/components/schemas/amqp_external_rule_response'
          unsupported: '#/components/schemas/unsupported_rule_response'
      oneOf:
      - $ref: '#/components/schemas/http_rule_response'
      - $ref: '#/components/schemas/ifttt_rule_response'
      - $ref: '#/components/schemas/zapier_rule_response'
      - $ref: '#/components/schemas/cloudflare_worker_rule_response'
      - $ref: '#/components/schemas/azure_function_rule_response'
      - $ref: '#/components/schemas/google_cloud_function_rule_response'
      - $ref: '#/components/schemas/aws_lambda_rule_response'
      - $ref: '#/components/schemas/aws_kinesis_rule_response'
      - $ref: '#/components/schemas/aws_sqs_rule_response'
      - $ref: '#/components/schemas/amqp_rule_response'
      - $ref: '#/components/schemas/amqp_external_rule_response'
      - $ref: '#/components/schemas/unsupported_rule_response'
    http_rule_post:
      required:
      - requestMode
      - ruleType
      - source
      - target
      type: object
      properties:
        status:
          type: string
          description: The status of the rule. Rules can be enabled or disabled.
          example: enabled
        ruleType:
          type: string
          description: The type of rule. See the <a href="https://ably.com/integrations">documentation</a>
            for further information.
          example: http
          enum:
          - http
        requestMode:
          type: string
          description: This is Single Request mode or Batch Request mode. Single Request
            mode sends each event separately to the endpoint specified by the rule.
            Batch Request mode rolls up multiple events into the same request. You
            can read more about the difference between single and batched events in
            the Ably <a href="https://ably.com/documentation/general/events#batching">documentation</a>.
          example: single
        source:
          $ref: '#/components/schemas/rule_source'
        target:
          $ref: '#/components/schemas/http_rule_post_target'
      additionalProperties: false
    http_rule_patch:
      required:
      - ruleType
      type: object
      properties:
        status:
          type: string
          description: The status of the rule. Rules can be enabled or disabled.
          example: enabled
        ruleType:
          type: string
          description: The type of rule. See the <a href="https://ably.com/integrations">documentation</a>
            for further information.
          example: http
          enum:
          - http
        requestMode:
          type: string
          description: This is Single Request mode or Batch Request mode. Single Request
            mode sends each event separately to the endpoint specified by the rule.
            Batch Request mode rolls up multiple events into the same request. You
            can read more about the difference between single and batched events in
            the Ably <a href="https://ably.com/documentation/general/events#batching">documentation</a>.
          example: single
        source:
          $ref: '#/components/schemas/rule_source_patch'
        target:
          $ref: '#/components/schemas/http_rule_patch_target'
      additionalProperties: false
    http_rule_response:
      required:
      - requestMode
      - ruleType
      - source
      - target
      type: object
      properties:
        id:
          type: string
          description: The rule ID.
          example: 83IzAB
        appId:
          type: string
          description: The Ably application ID.
          example: 28GY6a
        version:
          type: string
          description: API version. Events and the format of their payloads are versioned.
            Please see the <a href="https://ably.com/documentation/general/events">Events
            documentation</a>.
          example: "1.2"
        status:
          type: string
          description: The status of the rule. Rules can be enabled or disabled.
          example: enabled
        created:
          type: number
          description: Unix timestamp representing the date and time of creation of
            the rule.
          example: 1602844091815
        modified:
          type: number
          description: Unix timestamp representing the date and time of last modification
            of the rule.
          example: 1614679682091
        _links:
          type: object
          nullable: true
        ruleType:
          type: string
          description: The type of rule. See the <a href="https://ably.com/integrations">documentation</a>
            for further information.
          example: http
          enum:
          - http
        requestMode:
          type: string
          description: This is Single Request mode or Batch Request mode. Single Request
            mode sends each event separately to the endpoint specified by the rule.
            Batch Request mode rolls up multiple events into the same request. You
            can read more about the difference between single and batched events in
            the Ably <a href="https://ably.com/documentation/general/events#batching">documentation</a>.
          example: single
        source:
          $ref: '#/components/schemas/rule_source'
        target:
          $ref: '#/components/schemas/http_rule_post_target'
      additionalProperties: false
    ifttt_rule_post:
      required:
      - requestMode
      - ruleType
      - source
      - target
      type: object
      properties:
        status:
          type: string
          description: The status of the rule. Rules can be enabled or disabled.
          example: enabled
        ruleType:
          type: string
          description: The type of rule. In this case IFTTT. See the <a href="https://ably.com/integrations">documentation</a>
            for further information.
          example: http/ifttt
          enum:
          - http/ifttt
        requestMode:
          type: string
          description: Single request mode sends each event separately to the endpoint
            specified by the rule. You can read more about single request mode events
            in the <a href="https://ably.com/documentation/general/events#batching">Ably
            documentation</a>.
          example: single
        source:
          $ref: '#/components/schemas/rule_source'
        target:
          $ref: '#/components/schemas/ifttt_rule_post_target'
      additionalProperties: false
    ifttt_rule_patch:
      required:
      - ruleType
      type: object
      properties:
        status:
          type: string
          description: The status of the rule. Rules can be enabled or disabled.
          example: enabled
        ruleType:
          type: string
          description: The type of rule. In this case IFTTT. See the <a href="https://ably.com/integrations">documentation</a>
            for further information.
          example: http/ifttt
          enum:
          - http/ifttt
        requestMode:
          type: string
          description: Single request mode sends each event separately to the endpoint
            specified by the rule. You can read more about single request mode events
            in the <a href="https://ably.com/documentation/general/events#batching">Ably
            documentation</a>.
          example: single
        source:
          $ref: '#/components/schemas/rule_source_patch'
        target:
          $ref: '#/components/schemas/ifttt_rule_patch_target'
      additionalProperties: false
    ifttt_rule_response:
      required:
      - requestMode
      - ruleType
      - source
      - target
      type: object
      properties:
        status:
          type: string
          description: The status of the rule. Rules can be enabled or disabled.
          example: enabled
        ruleType:
          type: string
          description: The type of rule. In this case IFTTT. See the <a href="https://ably.com/integrations">documentation</a>
            for further information.
          example: http/ifttt
          enum:
          - http/ifttt
        requestMode:
          type: string
          description: Single request mode sends each event separately to the endpoint
            specified by the rule. You can read more about single request mode events
            in the <a href="https://ably.com/documentation/general/events#batching">Ably
            documentation</a>.
          example: single
        source:
          $ref: '#/components/schemas/rule_source'
        target:
          $ref: '#/components/schemas/ifttt_rule_post_target'
        id:
          type: string
          description: The rule ID.
          example: 83IzAB
        appId:
          type: string
          description: The Ably application ID.
          example: 28GY6a
        version:
          type: string
          description: API version. Events and the format of their payloads are versioned.
            Please see the <a href="https://ably.com/documentation/general/events">Events
            documentation</a>.
          example: "1.2"
        created:
          type: number
          description: Unix timestamp representing the date and time of creation of
            the rule.
          example: 1602844091815
        modified:
          type: number
          description: Unix timestamp representing the date and time of last modification
            of the rule.
          example: 1614679682091
        _links:
          type: object
          nullable: true
      additionalProperties: false
    zapier_rule_post:
      required:
      - requestMode
      - ruleType
      - source
      - target
      type: object
      properties:
        status:
          type: string
          description: The status of the rule. Rules can be enabled or disabled.
          example: enabled
        ruleType:
          type: string
          description: The type of rule. In this case Zapier. See the <a href="https://ably.com/integrations">documentation</a>
            for further information.
          example: http/zapier
          enum:
          - http/zapier
        requestMode:
          type: string
          description: This is Single Request mode or Batch Request mode. Single Request
            mode sends each event separately to the endpoint specified by the rule.
            Batch Request mode rolls up multiple events into the same request. You
            can read more about the difference between single and batched events in
            the Ably <a href="https://ably.com/documentation/general/events#batching">documentation</a>.
          example: single
        source:
          $ref: '#/components/schemas/rule_source'
        target:
          $ref: '#/components/schemas/zapier_rule_post_target'
      additionalProperties: false
    zapier_rule_patch:
      required:
      - ruleType
      type: object
      properties:
        status:
          type: string
          description: The status of the rule. Rules can be enabled or disabled.
          example: enabled
        ruleType:
          type: string
          description: The type of rule. In this case Zapier. See the <a href="https://ably.com/integrations">documentation</a>
            for further information.
          example: http/zapier
          enum:
          - http/zapier
        requestMode:
          type: string
          description: This is Single Request mode or Batch Request mode. Single Request
            mode sends each event separately to the endpoint specified by the rule.
            Batch Request mode rolls up multiple events into the same request. You
            can read more about the difference between single and batched events in
            the Ably <a href="https://ably.com/documentation/general/events#batching">documentation</a>.
          example: single
        source:
          $ref: '#/components/schemas/rule_source_patch'
        target:
          $ref: '#/components/schemas/zapier_rule_patch_target'
      additionalProperties: false
    zapier_rule_response:
      required:
      - requestMode
      - ruleType
      - source
      - target
      type: object
      properties:
        id:
          type: string
          description: The rule ID.
          example: 83IzAB
        appId:
          type: string
          description: The Ably application ID.
          example: 28GY6a
        version:
          type: string
          description: API version. Events and the format of their payloads are versioned.
            Please see the <a href="https://ably.com/documentation/general/events">Events
            documentation</a>.
          example: "1.2"
        status:
          type: string
          description: The status of the rule. Rules can be enabled or disabled.
          example: enabled
        created:
          type: number
          description: Unix timestamp representing the date and time of creation of
            the rule.
          example: 1602844091815
        modified:
          type: number
          description: Unix timestamp representing the date and time of last modification
            of the rule.
          example: 1614679682091
        _links:
          type: object
          nullable: true
        ruleType:
          type: string
          description: The type of rule. In this case Zapier. See the <a href="https://ably.com/integrations">documentation</a>
            for further information.
          example: http/zapier
          enum:
          - http/zapier
        requestMode:
          type: string
          description: This is Single Request mode or Batch Request mode. Single Request
            mode sends each event separately to the endpoint specified by the rule.
            Batch Request mode rolls up multiple events into the same request. You
            can read more about the difference between single and batched events in
            the Ably <a href="https://ably.com/documentation/general/events#batching">documentation</a>.
          example: single
        source:
          $ref: '#/components/schemas/rule_source'
        target:
          $ref: '#/components/schemas/zapier_rule_post_target'
      additionalProperties: false
    cloudflare_worker_rule_post:
      required:
      - requestMode
      - ruleType
      - source
      - target
      type: object
      properties:
        status:
          type: string
          description: The status of the rule. Rules can be enabled or disabled.
          example: enabled
        ruleType:
          type: string
          description: The type of rule. In this case Cloudflare Worker. See the <a
            href="https://ably.com/integrations">documentation</a> for further information.
          example: http/cloudflare-worker
          enum:
          - http/cloudflare-worker
        requestMode:
          type: string
          description: This is Single Request mode or Batch Request mode. Single Request
            mode sends each event separately to the endpoint specified by the rule.
            Batch Request mode rolls up multiple events into the same request. You
            can read more about the difference between single and batched events in
            the Ably <a href="https://ably.com/documentation/general/events#batching">documentation</a>.
          example: single
        source:
          $ref: '#/components/schemas/rule_source'
        target:
          $ref: '#/components/schemas/zapier_rule_post_target'
      additionalProperties: false
    cloudflare_worker_rule_patch:
      required:
      - ruleType
      type: object
      properties:
        status:
          type: string
          description: The status of the rule. Rules can be enabled or disabled.
          example: enabled
        ruleType:
          type: string
          description: The type of rule. In this case Cloudflare Worker. See the <a
            href="https://ably.com/integrations">documentation</a> for further information.
          example: http/cloudflare-worker
          enum:
          - http/cloudflare-worker
        requestMode:
          type: string
          description: This is Single Request mode or Batch Request mode. Single Request
            mode sends each event separately to the endpoint specified by the rule.
            Batch Request mode rolls up multiple events into the same request. You
            can read more about the difference between single and batched events in
            the Ably <a href="https://ably.com/documentation/general/events#batching">documentation</a>.
          example: single
        source:
          $ref: '#/components/schemas/rule_source_patch'
        target:
          $ref: '#/components/schemas/zapier_rule_patch_target'
      additionalProperties: false
    cloudflare_worker_rule_response:
      required:
      - requestMode
      - ruleType
      - source
      - target
      type: object
      properties:
        id:
          type: string
          description: The rule ID.
          example: 83IzAB
        appId:
          type: string
          description: The Ably application ID.
          example: 28GY6a
        version:
          type: string
          description: API version. Events and the format of their payloads are versioned.
            Please see the <a href="https://ably.com/documentation/general/events">Events
            documentation</a>.
          example: "1.2"
        status:
          type: string
          description: The status of the rule. Rules can be enabled or disabled.
          example: enabled
        created:
          type: number
          description: Unix timestamp representing the date and time of creation of
            the rule.
          example: 1602844091815
        modified:
          type: number
          description: Unix timestamp representing the date and time of last modification
            of the rule.
          example: 1614679682091
        _links:
          type: object
          nullable: true
        ruleType:
          type: string
          description: The type of rule. In this case Cloudflare Worker. See the <a
            href="https://ably.com/integrations">documentation</a> for further information.
          example: http/cloudflare-worker
          enum:
          - http/cloudflare-worker
        requestMode:
          type: string
          description: This is Single Request mode or Batch Request mode. Single Request
            mode sends each event separately to the endpoint specified by the rule.
            Batch Request mode rolls up multiple events into the same request. You
            can read more about the difference between single and batched events in
            the Ably <a href="https://ably.com/documentation/general/events#batching">documentation</a>.
          example: single
        source:
          $ref: '#/components/schemas/rule_source'
        target:
          $ref: '#/components/schemas/zapier_rule_post_target'
      additionalProperties: false
    azure_function_rule_post:
      required:
      - requestMode
      - ruleType
      - source
      - target
      type: object
      properties:
        status:
          type: string
          description: The status of the rule. Rules can be enabled or disabled.
          example: enabled
        ruleType:
          type: string
          description: The type of rule. In this case Microsoft Azure Function. See
            the <a href="https://ably.com/integrations">documentation</a> for further
            information.
          example: http/azure-function
          enum:
          - http/azure-function
        requestMode:
          type: string
          description: This is Single Request mode or Batch Request mode. Single Request
            mode sends each event separately to the endpoint specified by the rule.
            Batch Request mode rolls up multiple events into the same request. You
            can read more about the difference between single and batched events in
            the Ably <a href="https://ably.com/documentation/general/events#batching">documentation</a>.
          example: single
        source:
          $ref: '#/components/schemas/rule_source'
        target:
          $ref: '#/components/schemas/azure_function_rule_post_target'
      additionalProperties: false
    azure_function_rule_patch:
      required:
      - ruleType
      type: object
      properties:
        status:
          type: string
          description: The status of the rule. Rules can be enabled or disabled.
          example: enabled
        ruleType:
          type: string
          description: The type of rule. In this case Microsoft Azure Function. See
            the <a href="https://ably.com/integrations">documentation</a> for further
            information.
          example: http/azure-function
          enum:
          - http/azure-function
        requestMode:
          type: string
          description: This is Single Request mode or Batch Request mode. Single Request
            mode sends each event separately to the endpoint specified by the rule.
            Batch Request mode rolls up multiple events into the same request. You
            can read more about the difference between single and batched events in
            the Ably <a href="https://ably.com/documentation/general/events#batching">documentation</a>.
          example: single
        source:
          $ref: '#/components/schemas/rule_source_patch'
        target:
          $ref: '#/components/schemas/azure_function_rule_patch_target'
      additionalProperties: false
    azure_function_rule_response:
      required:
      - requestMode
      - ruleType
      - source
      - target
      type: object
      properties:
        id:
          type: string
          description: The rule ID.
          example: 83IzAB
        appId:
          type: string
          description: The Ably application ID.
          example: 28GY6a
        version:
          type: string
          description: API version. Events and the format of their payloads are versioned.
            Please see the <a href="https://ably.com/documentation/general/events">Events
            documentation</a>.
          example: "1.2"
        status:
          type: string
          description: The status of the rule. Rules can be enabled or disabled.
          example: enabled
        created:
          type: number
          description: Unix timestamp representing the date and time of creation of
            the rule.
          example: 1602844091815
        modified:
          type: number
          description: Unix timestamp representing the date and time of last modification
            of the rule.
          example: 1614679682091
        _links:
          type: object
          nullable: true
        ruleType:
          type: string
          description: The type of rule. In this case Microsoft Azure Function. See
            the <a href="https://ably.com/integrations">documentation</a> for further
            information.
          example: http/azure-function
          enum:
          - http/azure-function
        requestMode:
          type: string
          description: This is Single Request mode or Batch Request mode. Single Request
            mode sends each event separately to the endpoint specified by the rule.
            Batch Request mode rolls up multiple events into the same request. You
            can read more about the difference between single and batched events in
            the Ably <a href="https://ably.com/documentation/general/events#batching">documentation</a>.
          example: single
        source:
          $ref: '#/components/schemas/rule_source'
        target:
          $ref: '#/components/schemas/azure_function_rule_post_target'
      additionalProperties: false
    google_cloud_function_rule_post:
      required:
      - requestMode
      - ruleType
      - source
      - target
      type: object
      properties:
        ruleType:
          type: string
          description: The type of rule. In this case Google Cloud Function. See the
            <a href="https://ably.com/integrations">documentation</a> for further
            information.
          example: http/google-cloud-function
          enum:
          - http/google-cloud-function
        requestMode:
          type: string
          description: This is Single Request mode or Batch Request mode. Single Request
            mode sends each event separately to the endpoint specified by the rule.
            Batch Request mode rolls up multiple events into the same request. You
            can read more about the difference between single and batched events in
            the Ably <a href="https://ably.com/documentation/general/events#batching">documentation</a>.
          example: single
        source:
          $ref: '#/components/schemas/rule_source'
        target:
          $ref: '#/components/schemas/google_cloud_function_rule_post_target'
      additionalProperties: false
    google_cloud_function_rule_patch:
      required:
      - ruleType
      type: object
      properties:
        status:
          type: string
          description: The status of the rule. Rules can be enabled or disabled.
          example: enabled
        ruleType:
          type: string
          description: The type of rule. In this case Google Cloud Function. See the
            <a href="https://ably.com/integrations">documentation</a> for further
            information.
          example: http/google-cloud-function
          enum:
          - http/google-cloud-function
        requestMode:
          type: string
          description: This is Single Request mode or Batch Request mode. Single Request
            mode sends each event separately to the endpoint specified by the rule.
            Batch Request mode rolls up multiple events into the same request. You
            can read more about the difference between single and batched events in
            the Ably <a href="https://ably.com/documentation/general/events#batching">documentation</a>.
          example: single
        source:
          $ref: '#/components/schemas/rule_source_patch'
        target:
          $ref: '#/components/schemas/google_cloud_function_rule_patch_target'
      additionalProperties: false
    google_cloud_function_rule_response:
      required:
      - requestMode
      - ruleType
      - source
      - target
      type: object
      properties:
        id:
          type: string
          description: The rule ID.
          example: 83IzAB
        appId:
          type: string
          description: The Ably application ID.
          example: 28GY6a
        version:
          type: string
          description: API version. Events and the format of their payloads are versioned.
            Please see the <a href="https://ably.com/documentation/general/events">Events
            documentation</a>.
          example: "1.2"
        status:
          type: string
          description: The status of the rule. Rules can be enabled or disabled.
          example: enabled
        created:
          type: number
          description: Unix timestamp representing the date and time of creation of
            the rule.
          example: 1602844091815
        modified:
          type: number
          description: Unix timestamp representing the date and time of last modification
            of the rule.
          example: 1614679682091
        _links:
          type: object
          nullable: true
        ruleType:
          type: string
          description: The type of rule. In this case Google Cloud Function. See the
            <a href="https://ably.com/integrations">documentation</a> for further
            information.
          example: http/google-cloud-function
          enum:
          - http/google-cloud-function
        requestMode:
          type: string
          description: This is Single Request mode or Batch Request mode. Single Request
            mode sends each event separately to the endpoint specified by the rule.
            Batch Request mode rolls up multiple events into the same request. You
            can read more about the difference between single and batched events in
            the Ably <a href="https://ably.com/documentation/general/events#batching">documentation</a>.
          example: single
        source:
          $ref: '#/components/schemas/rule_source'
        target:
          $ref: '#/components/schemas/google_cloud_function_rule_post_target'
      additionalProperties: false
    aws_access_keys:
      required:
      - accessKeyId
      - secretAccessKey
      type: object
      properties:
        authenticationMode:
          type: string
          description: Authentication method is using AWS credentials (AWS key ID
            and secret key).
          example: credentials
          enum:
          - credentials
        accessKeyId:
          type: string
          description: The AWS key ID for the AWS IAM user. See this <a href="https://knowledge.ably.com/authentication-for-reactor-rules-for-aws-reactor-events-for-lambda-functions-reactor-firehose-for-aws-sqs-and-kinesis">Ably
            knowledge base article</a> for details.
          example: AKIAIOSFODNN7EXAMPLE
        secretAccessKey:
          type: string
          description: The AWS secret key for the AWS IAM user. See this <a href="https://knowledge.ably.com/authentication-for-reactor-rules-for-aws-reactor-events-for-lambda-functions-reactor-firehose-for-aws-sqs-and-kinesis">Ably
            knowledge base article</a> for details.
          example: wJalrXUtnFEMI/K7MDENG/bPxRfiCYEXAMPLEKEY
      additionalProperties: false
    aws_access_keys_response:
      type: object
      properties:
        authenticationMode:
          type: string
          description: Authentication method is using AWS credentials (AWS key ID
            and secret key).
          example: credentials
          enum:
          - credentials
        accessKeyId:
          type: string
          description: The AWS key ID for the AWS IAM user. See this <a href="https://knowledge.ably.com/authentication-for-reactor-rules-for-aws-reactor-events-for-lambda-functions-reactor-firehose-for-aws-sqs-and-kinesis">Ably
            knowledge base article</a> for details.
          example: AKIAIOSFODNN7EXAMPLE
      additionalProperties: false
    aws_assume_role:
      required:
      - assumeRoleArn
      type: object
      properties:
        authenticationMode:
          type: string
          description: Authentication method is using the ARN of an assumable role.
            See this <a href="https://knowledge.ably.com/authentication-for-reactor-rules-for-aws-reactor-events-for-lambda-functions-reactor-firehose-for-aws-sqs-and-kinesis">Ably
            knowledge base article</a> for details.
          example: assumeRole
          enum:
          - assumeRole
        assumeRoleArn:
          type: string
          description: "If you are using the \"ARN of an assumable role\" authentication\
            \ method, this is your Assume Role ARN. See this <a href=\"https://knowledge.ably.com/authentication-for-reactor-rules-for-aws-reactor-events-for-lambda-functions-reactor-firehose-for-aws-sqs-and-kinesis\"\
            >Ably knowledge base article</a> for details."
          example: arn:aws:iam::123456789012:user/Development/product_1234/*
      additionalProperties: false
    aws_lambda_rule_post:
      required:
      - requestMode
      - ruleType
      - source
      - target
      type: object
      properties:
        status:
          type: string
          description: The status of the rule. Rules can be enabled or disabled.
          example: enabled
        ruleType:
          type: string
          description: The type of rule. In this case AWS Lambda. See the <a href="https://ably.com/integrations">documentation</a>
            for further information.
          example: aws/lambda
          enum:
          - aws/lambda
        requestMode:
          type: string
          description: Single request mode sends each event separately to the endpoint
            specified by the rule. You can read more about single request mode events
            in the <a href="https://ably.com/documentation/general/events#batching">Ably
            documentation</a>.
          example: single
        source:
          $ref: '#/components/schemas/rule_source'
        target:
          $ref: '#/components/schemas/aws_lambda_rule_post_target'
      additionalProperties: false
    aws_lambda_rule_patch:
      required:
      - ruleType
      type: object
      properties:
        status:
          type: string
          description: The status of the rule. Rules can be enabled or disabled.
          example: enabled
        ruleType:
          type: string
          description: The type of rule. In this case AWS Lambda. See the <a href="https://ably.com/integrations">Ably
            documentation</a> for further information.
          example: aws/lambda
          enum:
          - aws/lambda
        requestMode:
          type: string
          description: Single request mode sends each event separately to the endpoint
            specified by the rule. You can read more about single request mode events
            in the <a href="https://ably.com/documentation/general/events#batching">Ably
            documentation</a>.
          example: single
        source:
          $ref: '#/components/schemas/rule_source_patch'
        target:
          $ref: '#/components/schemas/aws_lambda_rule_post_target'
      additionalProperties: false
    aws_lambda_rule_response:
      required:
      - requestMode
      - ruleType
      - source
      - target
      type: object
      properties:
        id:
          type: string
          description: The rule ID.
          example: 83IzAB
        appId:
          type: string
          description: The Ably application ID.
          example: 28GY6a
        version:
          type: string
          description: API version. Events and the format of their payloads are versioned.
            Please see the <a href="https://ably.com/documentation/general/events">Events
            documentation</a>.
          example: "1.2"
        status:
          type: string
          description: The status of the rule. Rules can be enabled or disabled.
          example: enabled
        created:
          type: number
          description: Unix timestamp representing the date and time of creation of
            the rule.
          example: 1602844091815
        modified:
          type: number
          description: Unix timestamp representing the date and time of last modification
            of the rule.
          example: 1614679682091
        _links:
          type: object
          nullable: true
        ruleType:
          type: string
          description: The type of rule. In this case AWS Lambda. See the <a href="https://ably.com/integrations">documentation</a>
            for further information.
          example: aws/lambda
          enum:
          - aws/lambda
        requestMode:
          type: string
          description: Single request mode sends each event separately to the endpoint
            specified by the rule. You can read more about single request mode events
            in the <a href="https://ably.com/documentation/general/events#batching">Ably
            documentation</a>.
          example: single
        source:
          $ref: '#/components/schemas/rule_source'
        target:
          $ref: '#/components/schemas/aws_lambda_rule_response_target'
      additionalProperties: false
    aws_kinesis_rule_post:
      required:
      - requestMode
      - ruleType
      - source
      - target
      type: object
      properties:
        status:
          type: string
          description: The status of the rule. Rules can be enabled or disabled.
          example: enabled
        ruleType:
          type: string
          description: The type of rule. In this case AWS Kinesis. See the <a href="https://ably.com/integrations">documentation</a>
            for further information.
          example: aws/kinesis
          enum:
          - aws/kinesis
        requestMode:
          type: string
          description: Single request mode sends each event separately to the endpoint
            specified by the rule. You can read more about single request mode events
            in the <a href="https://ably.com/documentation/general/events#batching">Ably
            documentation</a>.
          example: single
        source:
          $ref: '#/components/schemas/rule_source'
        target:
          $ref: '#/components/schemas/aws_kinesis_rule_post_target'
      additionalProperties: false
    aws_kinesis_rule_patch:
      required:
      - ruleType
      type: object
      properties:
        status:
          type: string
          description: The status of the rule. Rules can be enabled or disabled.
          example: enabled
        ruleType:
          type: string
          description: The type of rule. In this case AWS Kinesis. See the <a href="https://ably.com/integrations">documentation</a>
            for further information.
          example: aws/kinesis
          enum:
          - aws/kinesis
        requestMode:
          type: string
          description: Single request mode sends each event separately to the endpoint
            specified by the rule. You can read more about single request mode events
            in the <a href="https://ably.com/documentation/general/events#batching">Ably
            documentation</a>.
          example: single
        source:
          $ref: '#/components/schemas/rule_source_patch'
        target:
          $ref: '#/components/schemas/aws_kinesis_rule_patch_target'
      additionalProperties: false
    aws_kinesis_rule_response:
      required:
      - requestMode
      - ruleType
      - source
      - target
      type: object
      properties:
        id:
          type: string
          description: The rule ID.
          example: 83IzAB
        appId:
          type: string
          description: The Ably application ID.
          example: 28GY6a
        version:
          type: string
          description: API version. Events and the format of their payloads are versioned.
            Please see the <a href="https://ably.com/documentation/general/events">Events
            documentation</a>.
          example: "1.2"
        status:
          type: string
          description: The status of the rule. Rules can be enabled or disabled.
          example: enabled
        created:
          type: number
          description: Unix timestamp representing the date and time of creation of
            the rule.
          example: 1602844091815
        modified:
          type: number
          description: Unix timestamp representing the date and time of last modification
            of the rule.
          example: 1614679682091
        _links:
          type: object
          nullable: true
        ruleType:
          type: string
          description: The type of rule. In this case AWS Kinesis. See the <a href="https://ably.com/integrations">documentation</a>
            for further information.
          example: aws/kinesis
          enum:
          - aws/kinesis
        requestMode:
          type: string
          description: Single request mode sends each event separately to the endpoint
            specified by the rule. You can read more about single request mode events
            in the <a href="https://ably.com/documentation/general/events#batching">Ably
            documentation</a>.
          example: single
        source:
          $ref: '#/components/schemas/rule_source'
        target:
          $ref: '#/components/schemas/aws_kinesis_rule_response_target'
      additionalProperties: false
    aws_sqs_rule_post:
      required:
      - requestMode
      - ruleType
      - source
      - target
      type: object
      properties:
        status:
          type: string
          description: The status of the rule. Rules can be enabled or disabled.
          example: enabled
        ruleType:
          type: string
          description: The type of rule. In this case AWS SQS. See the <a href="https://ably.com/integrations">documentation</a>
            for further information.
          example: aws/sqs
          enum:
          - aws/sqs
        requestMode:
          type: string
          description: Single request mode sends each event separately to the endpoint
            specified by the rule. You can read more about single request mode events
            in the <a href="https://ably.com/documentation/general/events#batching">Ably
            documentation</a>.
          example: single
        source:
          $ref: '#/components/schemas/rule_source'
        target:
          $ref: '#/components/schemas/aws_sqs_rule_post_target'
      additionalProperties: false
    aws_sqs_rule_patch:
      required:
      - ruleType
      type: object
      properties:
        status:
          type: string
          description: The status of the rule. Rules can be enabled or disabled.
          example: enabled
        ruleType:
          type: string
          description: The type of rule. In this case AWS SQS. See the <a href="https://ably.com/integrations">documentation</a>
            for further information.
          example: aws/sqs
          enum:
          - aws/sqs
        requestMode:
          type: string
          description: Single request mode sends each event separately to the endpoint
            specified by the rule. You can read more about single request mode events
            in the <a href="https://ably.com/documentation/general/events#batching">Ably
            documentation</a>.
          example: single
        source:
          $ref: '#/components/schemas/rule_source_patch'
        target:
          $ref: '#/components/schemas/aws_sqs_rule_patch_target'
      additionalProperties: false
    aws_sqs_rule_response:
      required:
      - requestMode
      - ruleType
      - source
      - target
      type: object
      properties:
        id:
          type: string
          description: The rule ID.
          example: 83IzAB
        appId:
          type: string
          description: The Ably application ID.
          example: 28GY6a
        version:
          type: string
          description: API version. Events and the format of their payloads are versioned.
            Please see the <a href="https://ably.com/documentation/general/events">Events
            documentation</a>.
          example: "1.2"
        status:
          type: string
          description: The status of the rule. Rules can be enabled or disabled.
          example: enabled
        created:
          type: number
          description: Unix timestamp representing the date and time of creation of
            the rule.
          example: 1602844091815
        modified:
          type: number
          description: Unix timestamp representing the date and time of last modification
            of the rule.
          example: 1614679682091
        _links:
          type: object
          nullable: true
        ruleType:
          type: string
          description: The type of rule. In this case AWS SQS. See the <a href="https://ably.com/integrations">documentation</a>
            for further information.
          example: aws/sqs
          enum:
          - aws/sqs
        requestMode:
          type: string
          description: Single request mode sends each event separately to the endpoint
            specified by the rule. You can read more about single request mode events
            in the <a href="https://ably.com/documentation/general/events#batching">Ably
            documentation</a>.
          example: single
        source:
          $ref: '#/components/schemas/rule_source'
        target:
          $ref: '#/components/schemas/aws_sqs_rule_response_target'
      additionalProperties: false
    amqp_rule_post:
      required:
      - requestMode
      - ruleType
      - source
      - target
      type: object
      properties:
        status:
          type: string
          description: The status of the rule. Rules can be enabled or disabled.
          example: enabled
        ruleType:
          type: string
          description: The type of rule. In this case AMQP. See the <a href="https://ably.com/integrations">documentation</a>
            for further information.
          example: amqp
          enum:
          - amqp
        requestMode:
          type: string
          description: Single request mode sends each event separately to the endpoint
            specified by the rule. You can read more about single request mode events
            in the <a href="https://ably.com/documentation/general/events#batching">Ably
            documentation</a>.
          example: single
        source:
          $ref: '#/components/schemas/rule_source'
        target:
          $ref: '#/components/schemas/amqp_rule_post_target'
      additionalProperties: false
    amqp_rule_patch:
      required:
      - ruleType
      type: object
      properties:
        status:
          type: string
          description: The status of the rule. Rules can be enabled or disabled.
          example: enabled
        ruleType:
          type: string
          description: The type of rule. In this case AMQP. See the <a href="https://ably.com/integrations">documentation</a>
            for further information.
          example: amqp
          enum:
          - amqp
        requestMode:
          type: string
          description: Single request mode sends each event separately to the endpoint
            specified by the rule. You can read more about single request mode events
            in the <a href="https://ably.com/documentation/general/events#batching">Ably
            documentation</a>.
          example: single
        source:
          $ref: '#/components/schemas/rule_source_patch'
        target:
          $ref: '#/components/schemas/amqp_rule_patch_target'
      additionalProperties: false
    amqp_rule_response:
      required:
      - requestMode
      - ruleType
      - source
      - target
      type: object
      properties:
        id:
          type: string
          description: The rule ID.
          example: 83IzAB
        appId:
          type: string
          description: The Ably application ID.
          example: 28GY6a
        version:
          type: string
          description: API version. Events and the format of their payloads are versioned.
            Please see the <a href="https://ably.com/documentation/general/events">Events
            documentation</a>.
          example: "1.2"
        status:
          type: string
          description: The status of the rule. Rules can be enabled or disabled.
          example: enabled
        created:
          type: number
          description: Unix timestamp representing the date and time of creation of
            the rule.
          example: 1602844091815
        modified:
          type: number
          description: Unix timestamp representing the date and time of last modification
            of the rule.
          example: 1614679682091
        _links:
          type: object
          nullable: true
        ruleType:
          type: string
          description: The type of rule. In this case AMQP. See the <a href="https://ably.com/integrations">documentation</a>
            for further information.
          example: amqp
          enum:
          - amqp
        requestMode:
          type: string
          description: Single request mode sends each event separately to the endpoint
            specified by the rule. You can read more about single request mode events
            in the <a href="https://ably.com/documentation/general/events#batching">Ably
            documentation</a>.
          example: single
        source:
          $ref: '#/components/schemas/rule_source'
        target:
          $ref: '#/components/schemas/amqp_rule_post_target'
      additionalProperties: false
    amqp_external_rule_post:
      required:
      - requestMode
      - ruleType
      - source
      - target
      type: object
      properties:
        ruleType:
          type: string
          description: The type of rule. In this case AMQP external (using Firehose).
            See the <a href="https://ably.com/documentation/general/firehose">documentation</a>
            for further information.
          example: amqp/external
          enum:
          - amqp/external
        requestMode:
          type: string
          description: Single request mode sends each event separately to the endpoint
            specified by the rule. You can read more about single request mode events
            in the <a href="https://ably.com/documentation/general/events#batching">Ably
            documentation</a>.
          example: single
        source:
          $ref: '#/components/schemas/rule_source'
        target:
          $ref: '#/components/schemas/amqp_external_rule_post_target'
      additionalProperties: false
    amqp_external_rule_patch:
      required:
      - ruleType
      type: object
      properties:
        status:
          type: string
          description: The status of the rule. Rules can be enabled or disabled.
          example: enabled
        ruleType:
          type: string
          description: The type of rule. In this case AMQP external (using Firehose).
            See the <a href="https://ably.com/documentation/general/firehose">Ably
            documentation</a> for further information.
          example: amqp/external
          enum:
          - amqp/external
        requestMode:
          type: string
          description: Single request mode sends each event separately to the endpoint
            specified by the rule. You can read more about single request mode events
            in the <a href="https://ably.com/documentation/general/events#batching">Ably
            documentation</a>.
          example: single
        source:
          $ref: '#/components/schemas/rule_source_patch'
        target:
          $ref: '#/components/schemas/amqp_external_rule_patch_target'
      additionalProperties: false
    amqp_external_rule_response:
      required:
      - requestMode
      - ruleType
      - source
      - target
      type: object
      properties:
        id:
          type: string
          description: The rule ID.
          example: 83IzAB
        appId:
          type: string
          description: The Ably application ID.
          example: 28GY6a
        version:
          type: string
          description: API version. Events and the format of their payloads are versioned.
            Please see the <a href="https://ably.com/documentation/general/events">Events
            documentation</a>.
          example: "1.2"
        status:
          type: string
          description: The status of the rule. Rules can be enabled or disabled.
          example: enabled
        created:
          type: number
          description: Unix timestamp representing the date and time of creation of
            the rule.
          example: 1602844091815
        modified:
          type: number
          description: Unix timestamp representing the date and time of last modification
            of the rule.
          example: 1614679682091
        _links:
          type: object
          nullable: true
        ruleType:
          type: string
          description: The type of rule. In this case AMQP external (using Firehose).
            See the <a href="https://ably.com/documentation/general/firehose">Ably
            documentation</a> for further information.
          example: amqp/external
          enum:
          - amqp/external
        requestMode:
          type: string
          description: Single request mode sends each event separately to the endpoint
            specified by the rule. You can read more about single request mode events
            in the <a href="https://ably.com/documentation/general/events#batching">Ably
            documentation</a>.
          example: single
        source:
          $ref: '#/components/schemas/rule_source'
        target:
          $ref: '#/components/schemas/amqp_external_rule_response_target'
      additionalProperties: false
    unsupported_rule_response:
      required:
      - requestMode
      - ruleType
      - source
      - target
      type: object
      properties:
        id:
          type: string
          description: The rule ID.
          example: 83IzAB
        appId:
          type: string
          description: The Ably application ID.
          example: 28GY6a
        version:
          type: string
          description: API version. Events and the format of their payloads are versioned.
            Please see the <a href="https://ably.com/documentation/general/events">Events
            documentation</a>.
          example: "1.2"
        status:
          type: string
          description: The status of the rule. Rules can be enabled or disabled.
          example: enabled
        created:
          type: number
          description: Unix timestamp representing the date and time of creation of
            the rule.
          example: 1602844091815
        modified:
          type: number
          description: Unix timestamp representing the date and time of last modification
            of the rule.
          example: 1614679682091
        _links:
          type: object
          nullable: true
        ruleType:
          type: string
          description: This rule type is currently unsupported.
          example: unsupported
          enum:
          - unsupported
        requestMode:
          type: string
          description: This is Single Request mode or Batch Request mode. Single Request
            mode sends each event separately to the endpoint specified by the rule.
            Batch Request mode rolls up multiple events into the same request. You
            can read more about the difference between single and batched events in
            the Ably <a href="https://ably.com/documentation/general/events#batching">documentation</a>.
          example: single
        source:
          $ref: '#/components/schemas/rule_source'
        target:
          $ref: '#/components/schemas/unsupported_rule_response_target'
      additionalProperties: false
    queue:
      required:
      - maxLength
      - name
      - region
      - ttl
      type: object
      properties:
        name:
          type: string
          description: A friendly name for your queue.
          example: My queue
        ttl:
          type: integer
          description: TTL in minutes.
          example: 60
        maxLength:
          type: integer
          description: Message limit in number of messages.
          example: 10000
        region:
          type: string
          description: The data center region. US East (Virginia) or EU West (Ireland).
            Values are `us-east-1-a` or `eu-west-1-a`.
          example: us-east-1-a
      additionalProperties: false
    queue_response:
      type: object
      properties:
        id:
          type: string
          description: The ID of the Ably queue
          example: 28AB6w:us-east-1-a:My queue
        appId:
          type: string
          description: The Ably application ID.
          example: 28AB6w
        name:
          type: string
          description: The friendly name of the queue.
          example: My queue
        region:
          type: string
          description: The data center region for the queue.
          example: eu-west-1-a
        amqp:
          $ref: '#/components/schemas/queue_response_amqp'
        stomp:
          $ref: '#/components/schemas/queue_response_stomp'
        state:
          type: string
          description: The current state of the queue.
          example: Running
        messages:
          $ref: '#/components/schemas/queue_response_messages'
        stats:
          $ref: '#/components/schemas/queue_response_stats'
        ttl:
          type: integer
          description: TTL in minutes.
          example: 60
        maxLength:
          type: integer
          description: Message limit in number of messages.
          example: 10000
        deadletter:
          type: boolean
          description: A boolean that indicates whether this is a dead letter queue
            or not.
          example: false
        deadletterId:
          type: string
          description: The ID of the dead letter queue.
          nullable: true
          example: 28AB6w:us-east-1-a:deadletter
      additionalProperties: false
      example:
        deadletterId: 28AB6w:us-east-1-a:deadletter
        amqp:
[...]
