=begin
#Control API v1

#Use the Control API to manage your applications, namespaces, keys, queues, rules, and more.  Detailed information on using this API can be found in the Ably <a href=\"https://ably.com/documentation/control-api\">Control API documentation</a>.  Control API is currently in Beta. 

OpenAPI spec version: 1.0.18

Generated by: https://github.com/swagger-api/swagger-codegen.git
Swagger Codegen version: 3.0.29
=end

module SwaggerClient
  class KeysApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Lists app keys
    # Lists the API keys associated with the application ID.
    # @param app_id The application ID.
    # @param [Hash] opts the optional parameters
    # @return [Array<KeyResponse>]
    def apps_app_id_keys_get(app_id, opts = {})
      data, _status_code, _headers = apps_app_id_keys_get_with_http_info(app_id, opts)
      data
    end

    # Lists app keys
    # Lists the API keys associated with the application ID.
    # @param app_id The application ID.
    # @param [Hash] opts the optional parameters
    # @return [Array<(Array<KeyResponse>, Integer, Hash)>] Array<KeyResponse> data, response status code and response headers
    def apps_app_id_keys_get_with_http_info(app_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: KeysApi.apps_app_id_keys_get ...'
      end
      # verify the required parameter 'app_id' is set
      if @api_client.config.client_side_validation && app_id.nil?
        fail ArgumentError, "Missing the required parameter 'app_id' when calling KeysApi.apps_app_id_keys_get"
      end
      # resource path
      local_var_path = '/apps/{app_id}/keys'.sub('{' + 'app_id' + '}', app_id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      return_type = opts[:return_type] || 'Array<KeyResponse>' 

      auth_names = opts[:auth_names] || ['bearer_auth']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: KeysApi#apps_app_id_keys_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Updates a key
    # Update the API key with the specified key ID, for the application with the specified application ID.
    # @param app_id The application ID.
    # @param key_id The API key ID.
    # @param [Hash] opts the optional parameters
    # @option opts [KeyPatch] :body 
    # @return [KeyResponse]
    def apps_app_id_keys_key_id_patch(app_id, key_id, opts = {})
      data, _status_code, _headers = apps_app_id_keys_key_id_patch_with_http_info(app_id, key_id, opts)
      data
    end

    # Updates a key
    # Update the API key with the specified key ID, for the application with the specified application ID.
    # @param app_id The application ID.
    # @param key_id The API key ID.
    # @param [Hash] opts the optional parameters
    # @option opts [KeyPatch] :body 
    # @return [Array<(KeyResponse, Integer, Hash)>] KeyResponse data, response status code and response headers
    def apps_app_id_keys_key_id_patch_with_http_info(app_id, key_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: KeysApi.apps_app_id_keys_key_id_patch ...'
      end
      # verify the required parameter 'app_id' is set
      if @api_client.config.client_side_validation && app_id.nil?
        fail ArgumentError, "Missing the required parameter 'app_id' when calling KeysApi.apps_app_id_keys_key_id_patch"
      end
      # verify the required parameter 'key_id' is set
      if @api_client.config.client_side_validation && key_id.nil?
        fail ArgumentError, "Missing the required parameter 'key_id' when calling KeysApi.apps_app_id_keys_key_id_patch"
      end
      # resource path
      local_var_path = '/apps/{app_id}/keys/{key_id}'.sub('{' + 'app_id' + '}', app_id.to_s).sub('{' + 'key_id' + '}', key_id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] || @api_client.object_to_http_body(opts[:'body']) 

      return_type = opts[:return_type] || 'KeyResponse' 

      auth_names = opts[:auth_names] || ['bearer_auth']
      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: KeysApi#apps_app_id_keys_key_id_patch\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Revokes a key
    # Revokes the API key with the specified ID, with the Application ID. This deletes the key.
    # @param app_id The application ID.
    # @param key_id The key ID.
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def apps_app_id_keys_key_id_revoke_post(app_id, key_id, opts = {})
      apps_app_id_keys_key_id_revoke_post_with_http_info(app_id, key_id, opts)
      nil
    end

    # Revokes a key
    # Revokes the API key with the specified ID, with the Application ID. This deletes the key.
    # @param app_id The application ID.
    # @param key_id The key ID.
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def apps_app_id_keys_key_id_revoke_post_with_http_info(app_id, key_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: KeysApi.apps_app_id_keys_key_id_revoke_post ...'
      end
      # verify the required parameter 'app_id' is set
      if @api_client.config.client_side_validation && app_id.nil?
        fail ArgumentError, "Missing the required parameter 'app_id' when calling KeysApi.apps_app_id_keys_key_id_revoke_post"
      end
      # verify the required parameter 'key_id' is set
      if @api_client.config.client_side_validation && key_id.nil?
        fail ArgumentError, "Missing the required parameter 'key_id' when calling KeysApi.apps_app_id_keys_key_id_revoke_post"
      end
      # resource path
      local_var_path = '/apps/{app_id}/keys/{key_id}/revoke'.sub('{' + 'app_id' + '}', app_id.to_s).sub('{' + 'key_id' + '}', key_id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      return_type = opts[:return_type] 

      auth_names = opts[:auth_names] || ['bearer_auth']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: KeysApi#apps_app_id_keys_key_id_revoke_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Creates a key
    # Creates an API key for the application specified.
    # @param app_id The application ID.
    # @param [Hash] opts the optional parameters
    # @option opts [KeyPost] :body 
    # @return [KeyResponse]
    def apps_app_id_keys_post(app_id, opts = {})
      data, _status_code, _headers = apps_app_id_keys_post_with_http_info(app_id, opts)
      data
    end

    # Creates a key
    # Creates an API key for the application specified.
    # @param app_id The application ID.
    # @param [Hash] opts the optional parameters
    # @option opts [KeyPost] :body 
    # @return [Array<(KeyResponse, Integer, Hash)>] KeyResponse data, response status code and response headers
    def apps_app_id_keys_post_with_http_info(app_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: KeysApi.apps_app_id_keys_post ...'
      end
      # verify the required parameter 'app_id' is set
      if @api_client.config.client_side_validation && app_id.nil?
        fail ArgumentError, "Missing the required parameter 'app_id' when calling KeysApi.apps_app_id_keys_post"
      end
      # resource path
      local_var_path = '/apps/{app_id}/keys'.sub('{' + 'app_id' + '}', app_id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] || @api_client.object_to_http_body(opts[:'body']) 

      return_type = opts[:return_type] || 'KeyResponse' 

      auth_names = opts[:auth_names] || ['bearer_auth']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: KeysApi#apps_app_id_keys_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
