=begin
#Control API v1

#Use the Control API to manage your applications, namespaces, keys, queues, rules, and more.  Detailed information on using this API can be found in the Ably <a href=\"https://ably.com/documentation/control-api\">Control API documentation</a>.  Control API is currently in Beta. 

OpenAPI spec version: 1.0.18

Generated by: https://github.com/swagger-api/swagger-codegen.git
Swagger Codegen version: 3.0.29
=end

module SwaggerClient
  class QueuesApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Lists queues
    # Lists the <a href=\"https://ably.com/documentation/general/queues\">queues</a> associated with the specified application ID.
    # @param app_id The application ID.
    # @param [Hash] opts the optional parameters
    # @return [Array<QueueResponse>]
    def apps_app_id_queues_get(app_id, opts = {})
      data, _status_code, _headers = apps_app_id_queues_get_with_http_info(app_id, opts)
      data
    end

    # Lists queues
    # Lists the &lt;a href&#x3D;\&quot;https://ably.com/documentation/general/queues\&quot;&gt;queues&lt;/a&gt; associated with the specified application ID.
    # @param app_id The application ID.
    # @param [Hash] opts the optional parameters
    # @return [Array<(Array<QueueResponse>, Integer, Hash)>] Array<QueueResponse> data, response status code and response headers
    def apps_app_id_queues_get_with_http_info(app_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: QueuesApi.apps_app_id_queues_get ...'
      end
      # verify the required parameter 'app_id' is set
      if @api_client.config.client_side_validation && app_id.nil?
        fail ArgumentError, "Missing the required parameter 'app_id' when calling QueuesApi.apps_app_id_queues_get"
      end
      # resource path
      local_var_path = '/apps/{app_id}/queues'.sub('{' + 'app_id' + '}', app_id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      return_type = opts[:return_type] || 'Array<QueueResponse>' 

      auth_names = opts[:auth_names] || ['bearer_auth']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: QueuesApi#apps_app_id_queues_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Creates a queue
    # Creates a <a href=\"https://ably.com/documentation/general/queues\">queue</a> for the application specified by application ID. The properties for the queue to be created are specified in the request body.
    # @param app_id The application ID.
    # @param [Hash] opts the optional parameters
    # @option opts [Queue] :body 
    # @return [QueueResponse]
    def apps_app_id_queues_post(app_id, opts = {})
      data, _status_code, _headers = apps_app_id_queues_post_with_http_info(app_id, opts)
      data
    end

    # Creates a queue
    # Creates a &lt;a href&#x3D;\&quot;https://ably.com/documentation/general/queues\&quot;&gt;queue&lt;/a&gt; for the application specified by application ID. The properties for the queue to be created are specified in the request body.
    # @param app_id The application ID.
    # @param [Hash] opts the optional parameters
    # @option opts [Queue] :body 
    # @return [Array<(QueueResponse, Integer, Hash)>] QueueResponse data, response status code and response headers
    def apps_app_id_queues_post_with_http_info(app_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: QueuesApi.apps_app_id_queues_post ...'
      end
      # verify the required parameter 'app_id' is set
      if @api_client.config.client_side_validation && app_id.nil?
        fail ArgumentError, "Missing the required parameter 'app_id' when calling QueuesApi.apps_app_id_queues_post"
      end
      # resource path
      local_var_path = '/apps/{app_id}/queues'.sub('{' + 'app_id' + '}', app_id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] || @api_client.object_to_http_body(opts[:'body']) 

      return_type = opts[:return_type] || 'QueueResponse' 

      auth_names = opts[:auth_names] || ['bearer_auth']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: QueuesApi#apps_app_id_queues_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Deletes a queue
    # Delete the <a href=\"https://ably.com/documentation/general/queues\">queue</a> with the specified queue name, from the application with the specified application ID.
    # @param app_id The application ID.
    # @param queue_id The queue ID.
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def apps_app_id_queues_queue_id_delete(app_id, queue_id, opts = {})
      apps_app_id_queues_queue_id_delete_with_http_info(app_id, queue_id, opts)
      nil
    end

    # Deletes a queue
    # Delete the &lt;a href&#x3D;\&quot;https://ably.com/documentation/general/queues\&quot;&gt;queue&lt;/a&gt; with the specified queue name, from the application with the specified application ID.
    # @param app_id The application ID.
    # @param queue_id The queue ID.
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def apps_app_id_queues_queue_id_delete_with_http_info(app_id, queue_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: QueuesApi.apps_app_id_queues_queue_id_delete ...'
      end
      # verify the required parameter 'app_id' is set
      if @api_client.config.client_side_validation && app_id.nil?
        fail ArgumentError, "Missing the required parameter 'app_id' when calling QueuesApi.apps_app_id_queues_queue_id_delete"
      end
      # verify the required parameter 'queue_id' is set
      if @api_client.config.client_side_validation && queue_id.nil?
        fail ArgumentError, "Missing the required parameter 'queue_id' when calling QueuesApi.apps_app_id_queues_queue_id_delete"
      end
      # resource path
      local_var_path = '/apps/{app_id}/queues/{queue_id}'.sub('{' + 'app_id' + '}', app_id.to_s).sub('{' + 'queue_id' + '}', queue_id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      return_type = opts[:return_type] 

      auth_names = opts[:auth_names] || ['bearer_auth']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: QueuesApi#apps_app_id_queues_queue_id_delete\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
