=begin
#Control API v1

#Use the Control API to manage your applications, namespaces, keys, queues, rules, and more.  Detailed information on using this API can be found in the Ably <a href=\"https://ably.com/documentation/control-api\">Control API documentation</a>.  Control API is currently in Beta. 

OpenAPI spec version: 1.0.18

Generated by: https://github.com/swagger-api/swagger-codegen.git
Swagger Codegen version: 3.0.29
=end

module SwaggerClient
  class RulesApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Lists Reactor rules
    # Lists the <a href=\"https://ably.com/documentation/general/events\">rules</a> for the application specified by the application ID.
    # @param app_id The application ID.
    # @param [Hash] opts the optional parameters
    # @return [Array<RuleResponse>]
    def apps_app_id_rules_get(app_id, opts = {})
      data, _status_code, _headers = apps_app_id_rules_get_with_http_info(app_id, opts)
      data
    end

    # Lists Reactor rules
    # Lists the &lt;a href&#x3D;\&quot;https://ably.com/documentation/general/events\&quot;&gt;rules&lt;/a&gt; for the application specified by the application ID.
    # @param app_id The application ID.
    # @param [Hash] opts the optional parameters
    # @return [Array<(Array<RuleResponse>, Integer, Hash)>] Array<RuleResponse> data, response status code and response headers
    def apps_app_id_rules_get_with_http_info(app_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RulesApi.apps_app_id_rules_get ...'
      end
      # verify the required parameter 'app_id' is set
      if @api_client.config.client_side_validation && app_id.nil?
        fail ArgumentError, "Missing the required parameter 'app_id' when calling RulesApi.apps_app_id_rules_get"
      end
      # resource path
      local_var_path = '/apps/{app_id}/rules'.sub('{' + 'app_id' + '}', app_id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      return_type = opts[:return_type] || 'Array<RuleResponse>' 

      auth_names = opts[:auth_names] || ['bearer_auth']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RulesApi#apps_app_id_rules_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Creates a Reactor rule
    # Creates a <a href=\"https://ably.com/documentation/general/events\">rule</a> for the application with the specified application ID.
    # @param app_id The application ID.
    # @param [Hash] opts the optional parameters
    # @option opts [RulePost] :body The rule properties.
    # @return [RuleResponse]
    def apps_app_id_rules_post(app_id, opts = {})
      data, _status_code, _headers = apps_app_id_rules_post_with_http_info(app_id, opts)
      data
    end

    # Creates a Reactor rule
    # Creates a &lt;a href&#x3D;\&quot;https://ably.com/documentation/general/events\&quot;&gt;rule&lt;/a&gt; for the application with the specified application ID.
    # @param app_id The application ID.
    # @param [Hash] opts the optional parameters
    # @option opts [RulePost] :body The rule properties.
    # @return [Array<(RuleResponse, Integer, Hash)>] RuleResponse data, response status code and response headers
    def apps_app_id_rules_post_with_http_info(app_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RulesApi.apps_app_id_rules_post ...'
      end
      # verify the required parameter 'app_id' is set
      if @api_client.config.client_side_validation && app_id.nil?
        fail ArgumentError, "Missing the required parameter 'app_id' when calling RulesApi.apps_app_id_rules_post"
      end
      # resource path
      local_var_path = '/apps/{app_id}/rules'.sub('{' + 'app_id' + '}', app_id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] || @api_client.object_to_http_body(opts[:'body']) 

      return_type = opts[:return_type] || 'RuleResponse' 

      auth_names = opts[:auth_names] || ['bearer_auth']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RulesApi#apps_app_id_rules_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Deletes a Reactor rule
    # Deletes the <a href=\"https://ably.com/documentation/general/events\">rule</a> specified by the rule ID, for the application specified by application ID.
    # @param app_id The application ID.
    # @param rule_id The rule ID.
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def apps_app_id_rules_rule_id_delete(app_id, rule_id, opts = {})
      apps_app_id_rules_rule_id_delete_with_http_info(app_id, rule_id, opts)
      nil
    end

    # Deletes a Reactor rule
    # Deletes the &lt;a href&#x3D;\&quot;https://ably.com/documentation/general/events\&quot;&gt;rule&lt;/a&gt; specified by the rule ID, for the application specified by application ID.
    # @param app_id The application ID.
    # @param rule_id The rule ID.
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def apps_app_id_rules_rule_id_delete_with_http_info(app_id, rule_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RulesApi.apps_app_id_rules_rule_id_delete ...'
      end
      # verify the required parameter 'app_id' is set
      if @api_client.config.client_side_validation && app_id.nil?
        fail ArgumentError, "Missing the required parameter 'app_id' when calling RulesApi.apps_app_id_rules_rule_id_delete"
      end
      # verify the required parameter 'rule_id' is set
      if @api_client.config.client_side_validation && rule_id.nil?
        fail ArgumentError, "Missing the required parameter 'rule_id' when calling RulesApi.apps_app_id_rules_rule_id_delete"
      end
      # resource path
      local_var_path = '/apps/{app_id}/rules/{rule_id}'.sub('{' + 'app_id' + '}', app_id.to_s).sub('{' + 'rule_id' + '}', rule_id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      return_type = opts[:return_type] 

      auth_names = opts[:auth_names] || ['bearer_auth']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RulesApi#apps_app_id_rules_rule_id_delete\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Gets a reactor rule by rule ID
    # Returns the <a href=\"https://ably.com/documentation/general/events\">rule</a> specified by the rule ID, for the application specified by application ID.
    # @param app_id The application ID.
    # @param rule_id The rule ID.
    # @param [Hash] opts the optional parameters
    # @return [RuleResponse]
    def apps_app_id_rules_rule_id_get(app_id, rule_id, opts = {})
      data, _status_code, _headers = apps_app_id_rules_rule_id_get_with_http_info(app_id, rule_id, opts)
      data
    end

    # Gets a reactor rule by rule ID
    # Returns the &lt;a href&#x3D;\&quot;https://ably.com/documentation/general/events\&quot;&gt;rule&lt;/a&gt; specified by the rule ID, for the application specified by application ID.
    # @param app_id The application ID.
    # @param rule_id The rule ID.
    # @param [Hash] opts the optional parameters
    # @return [Array<(RuleResponse, Integer, Hash)>] RuleResponse data, response status code and response headers
    def apps_app_id_rules_rule_id_get_with_http_info(app_id, rule_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RulesApi.apps_app_id_rules_rule_id_get ...'
      end
      # verify the required parameter 'app_id' is set
      if @api_client.config.client_side_validation && app_id.nil?
        fail ArgumentError, "Missing the required parameter 'app_id' when calling RulesApi.apps_app_id_rules_rule_id_get"
      end
      # verify the required parameter 'rule_id' is set
      if @api_client.config.client_side_validation && rule_id.nil?
        fail ArgumentError, "Missing the required parameter 'rule_id' when calling RulesApi.apps_app_id_rules_rule_id_get"
      end
      # resource path
      local_var_path = '/apps/{app_id}/rules/{rule_id}'.sub('{' + 'app_id' + '}', app_id.to_s).sub('{' + 'rule_id' + '}', rule_id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      return_type = opts[:return_type] || 'RuleResponse' 

      auth_names = opts[:auth_names] || ['bearer_auth']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RulesApi#apps_app_id_rules_rule_id_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Updates a Reactor rule
    # Updates the <a href=\"https://ably.com/documentation/general/events\">rule</a> specified by the rule ID, for the application specified by application ID.
    # @param app_id The application ID.
    # @param rule_id The rule ID.
    # @param [Hash] opts the optional parameters
    # @option opts [RulePatch] :body Properties for the rule.
    # @return [RuleResponse]
    def apps_app_id_rules_rule_id_patch(app_id, rule_id, opts = {})
      data, _status_code, _headers = apps_app_id_rules_rule_id_patch_with_http_info(app_id, rule_id, opts)
      data
    end

    # Updates a Reactor rule
    # Updates the &lt;a href&#x3D;\&quot;https://ably.com/documentation/general/events\&quot;&gt;rule&lt;/a&gt; specified by the rule ID, for the application specified by application ID.
    # @param app_id The application ID.
    # @param rule_id The rule ID.
    # @param [Hash] opts the optional parameters
    # @option opts [RulePatch] :body Properties for the rule.
    # @return [Array<(RuleResponse, Integer, Hash)>] RuleResponse data, response status code and response headers
    def apps_app_id_rules_rule_id_patch_with_http_info(app_id, rule_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RulesApi.apps_app_id_rules_rule_id_patch ...'
      end
      # verify the required parameter 'app_id' is set
      if @api_client.config.client_side_validation && app_id.nil?
        fail ArgumentError, "Missing the required parameter 'app_id' when calling RulesApi.apps_app_id_rules_rule_id_patch"
      end
      # verify the required parameter 'rule_id' is set
      if @api_client.config.client_side_validation && rule_id.nil?
        fail ArgumentError, "Missing the required parameter 'rule_id' when calling RulesApi.apps_app_id_rules_rule_id_patch"
      end
      # resource path
      local_var_path = '/apps/{app_id}/rules/{rule_id}'.sub('{' + 'app_id' + '}', app_id.to_s).sub('{' + 'rule_id' + '}', rule_id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] || @api_client.object_to_http_body(opts[:'body']) 

      return_type = opts[:return_type] || 'RuleResponse' 

      auth_names = opts[:auth_names] || ['bearer_auth']
      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RulesApi#apps_app_id_rules_rule_id_patch\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
